In [1]:
import pandas as pd
import torch

In [2]:
df = pd.DataFrame(columns=['t_acc', 't_loss', 'val_acc', 'val_loss'])

In [3]:
df

Empty DataFrame
Columns: [t_acc, t_loss, val_acc, val_loss]
Index: []

In [7]:
df2 = pd.DataFrame([[1,2,3,4]], columns=['t_acc', 't_loss', 'val_acc', 'val_loss'])

In [8]:
df2

   t_acc  t_loss  val_acc  val_loss
0      1       2        3         4

In [9]:
df

Empty DataFrame
Columns: [t_acc, t_loss, val_acc, val_loss]
Index: []

In [10]:
df.append(df2)

  t_acc t_loss val_acc val_loss
0     1      2       3        4

In [11]:
df2

   t_acc  t_loss  val_acc  val_loss
0      1       2        3         4

In [12]:
df.append(df2)

  t_acc t_loss val_acc val_loss
0     1      2       3        4

In [13]:
df

Empty DataFrame
Columns: [t_acc, t_loss, val_acc, val_loss]
Index: []

In [14]:
df2

   t_acc  t_loss  val_acc  val_loss
0      1       2        3         4

In [15]:
df = df.append(df2)

In [16]:
df

  t_acc t_loss val_acc val_loss
0     1      2       3        4

In [22]:
df = df.append(df2, ignore_index=True)

In [23]:
df

  t_acc t_loss val_acc val_loss
0     1      2       3        4
1     1      2       3        4
2     1      2       3        4
3     1      2       3        4